@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@400;500;700&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, Sans-serif;
    --font2:'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8em;
}

@media (max-width: 768px) {
    header > h1 {
        font-size: 10vh;
    }
}

header > p {
    padding-bottom: 50px;
}

header > p > a {
    color: #fff;
}

header a:hover, footer a:hover {
    color: #fdcf02;
    text-decoration: none;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2vw;
}

@media (max-width: 768px) {
    section {
        font-size: 2vh;
    }
}

section > p {
    padding-bottom: 2em;
    background-color: #22bac514;
    width: 400px;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section#img1,
section#img2,
section#img3 {
    background-image: url('https://img1.picmix.com/output/stamp/normal/8/7/2/4/2034278_c1f3a.gif');
    background-position: right center;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    box-shadow: inset 6px 6px 13px 0px #000;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: #0000002a;
    display: inline-block;
    padding: 5px;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: var(--font3);
}

footer > p > a {
    color: #fdcf02;
}

